<div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"> Ecommerce </span>
      <form class="d-flex">
        <button class="btn btn-outline-success" type="submit"  (click)="goToProductPanel();">Product Panel</button>
        <button class="btn btn-outline-success" type="submit"  style="margin-left: 10px;" (click)="goToAddProduct();">Add Product</button>
        <button class="btn btn-outline-success" type="submit" style="margin-left: 10px;" (click)="goToAdminPanel();">Admin Panel</button>
      </form>
    </div>
  </nav>
</div>

<div class="container">
<router-outlet></router-outlet>
</div>

<div>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">2021-2022</a>
    </div>
  </nav>
</div>